{% extends 'base.html' %}

{% block content%}

<h1>Subtract</h1>

<div>
    <!-- add form -->
    <form method="POST" action="/subtract">
        <!-- input for first value -->
        <div>
            <label for="number1">First Number:</label>
            <input type="number" id="number1" name="n1" placeholder="Enter your first value"
                required="" style="width:60%">
        </div>
        <!-- input for second value -->
        <div>
            <label for="number2">Second Number:</label>
            <input type="number" id="number2" name="n2" placeholder="Enter your second value"
                required="" style="width:60%">
        </div>
        <hr>
        <!-- submit button -->
        <div>
            <button type="submit">Subtract</button>
            <button type="reset">Clear</button>
        </div>
    </form>
</div>

{% endblock %}